<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - PHP_2021_VDK Application</title>
    <link href="/PHP_2021_VDK/views/front-end/css/Site.css" rel="stylesheet" type="text/css">
    <link href="/PHP_2021_VDK/views/front-end/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/PHP_2021_VDK/views/front-end/css/ft.css" rel="stylesheet" type="text/css">
    <script src="/PHP_2021_VDK/views/front-end/js/modernizr-2.js"></script>
</head>
<body>
    <div class="navbar ">
        <div class="container">
            <div class="header">
                <div class="headertop_desc">
                    
                    <div class="account_desc">
                        <ul>
                            <li><a href="#">Đăng Ký</a></li>
                            <li><a href="#">Đăng Nhập</a></li>
                            <li><a href="#">Cảm Nhận Khách Hàng</a></li>
                            <li><a href="#">Đăng Xuất</a></li>
                            <li><a href="#">Giỏ Hàng</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_top">
                    <div class="logo">
                        <a href="http://localhost:56091/index.html">
                            <img src="/PHP_2021_VDK/views/front-end/images/ttt.jpg" width="120">
                        </a>
                    </div>
                    <div class="cart">
                        <p>Chào Mừng Đến Với Cửa Hàng Của Chúng Tôi</p>
                        <div id="dd" class="wrapper-dropdown-2">
                        </div>
                    </div>
                   
                    <div class="clear"></div>
                </div>
                <div class="header_bottom">
                    <div class="menu">
                        <ul>
                            <li class="active"><a href="http://localhost:56091/index.html">Trang Chủ</a></li>
                            <li><a href="http://localhost:56091/about.html">Giới Thiệu</a></li>
                            <li><a href="http://localhost:56091/delivery.html">Dịch Vụ</a></li>
                            <li><a href="http://localhost:56091/news.html">Tin Tức Mới</a></li>
                            <li><a href="http://localhost:56091/contact.html">Kết Nối</a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="search_box">
                        <form>
                            <input type="text" value="Tìm Kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}"><input type="submit" value="">
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_slide">
                    <div class="header_bottom_left">
                        <div class="categories">
                            <ul>
                                <h3>Danh Mục Sản Phẩm </h3>
                                <li><a href="#">Trái Cây Nhập Khẩu</a></li>
                                <li><a href="#">Rau Củ Nhập Khẩu</a></li>
                                <li><a href="#">Trái Cây Việt Nam</a></li>
                                <li><a href="#">Rau Củ Việt Nam</a></li>
                                <li><a href="#">Trái Cây Khô</a></li>
                                <li><a href="#">Giỏ Trái Cây Quà Tặng</a></li>
                                <li><a href="#">Đặc sản vùng miền</a></li>
                                <li><a href="#">Cây con &amp; Hạt Giống</a></li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="header_bottom_right">
                        <img src="/PHP_2021_VDK/views/front-end/images/yyy.jpg" style="width:100%;padding:2%;">
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
<h2>Danh sách sản phẩm</h2>
<div class="row group-product">
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp1.jpg">
                </a>
                <h2>
                    <a href="http://localhost:56091/Product/Detail123">Dâu Tây Úc</a>
                </h2>
                <div class="price-detail">
                    <div class="price-number">
                        <p><span class="rupees">620.000 VND</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp1.jpg">
                </a>
                <h2>
                    <a href="http://localhost:56091/Product/Detail123">Dâu Tây Úc</a>
                </h2>
                <div class="price-detail">
                    <div class="price-number">
                        <p><span class="rupees">620.000 VND</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp1.jpg">
                </a>
                <h2>
                    <a href="http://localhost:56091/Product/Detail123">Dâu Tây Úc</a>
                </h2>
                <div class="price-detail">
                    <div class="price-number">
                        <p><span class="rupees">620.000 VND</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp1.jpg">
                </a>
                <h2>
                    <a href="http://localhost:56091/Product/Detail123">Dâu Tây Úc</a>
                </h2>
                <div class="price-detail">
                    <div class="price-number">
                        <p><span class="rupees">620.000 VND</span></p>
                    </div>
                </div>
            </div>
        </div>
</div>
<h2>Danh sách bán chạy</h2>
<div class="row group-product">
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp2.jpg">
                </a>
                <h2>
                    Táo New Zealand
                </h2>
                Ngày: 08/03/2021
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp2.jpg">
                </a>
                <h2>
                    Táo New Zealand
                </h2>
                Ngày: 08/03/2021
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp2.jpg">
                </a>
                <h2>
                    Táo New Zealand
                </h2>
                Ngày: 08/03/2021
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp2.jpg">
                </a>
                <h2>
                    Táo New Zealand
                </h2>
                Ngày: 08/03/2021
            </div>
        </div>
</div>
<h2>Danh sách Hàng Sắp Về</h2>
<div class="row group-product">
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp3.jpg">
                </a>
                <h2>
                    <a href="http://localhost:56091/Product/Detail123">Lê Nam Phi</a>
                </h2>
                <div class="price-detail">
                    <div class="price-number">
                        <p><span class="rupees">620.000 VND</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp3.jpg">
                </a>
                <h2>
                    <a href="http://localhost:56091/Product/Detail123">Lê Nam Phi</a>
                </h2>
                <div class="price-detail">
                    <div class="price-number">
                        <p><span class="rupees">620.000 VND</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp3.jpg">
                </a>
                <h2>
                    <a href="http://localhost:56091/Product/Detail123">Lê Nam Phi</a>
                </h2>
                <div class="price-detail">
                    <div class="price-number">
                        <p><span class="rupees">620.000 VND</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="product">
                <a href="#">
                    <img src="/PHP_2021_VDK/views/front-end/images/sp3.jpg">
                </a>
                <h2>
                    <a href="http://localhost:56091/Product/Detail123">Lê Nam Phi</a>
                </h2>
                <div class="price-detail">
                    <div class="price-number">
                        <p><span class="rupees">620.000 VND</span></p>
                    </div>
                </div>
            </div>
        </div>
</div>
<footer class="footer-distributed">

    <div class="footer-left">

      <h3>VDK<span>logo</span></h3>

      <p class="footer-links">
        <a href="#" class="link-1">Google</a>
        
        <a href="#">Youtobe</a>
      
        <a href="#">Facebook</a>
      
        <a href="#">Instagram</a>
        
        <a href="#">Twitter</a>
      </p>

      <p class="footer-company-name">Vo Duc Ky 2021</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Phuong Tan Quy</span> Quan 7, Ho Chi Minh</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+84-6868-6868</p>
      </div>
    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>Giới Thiệu Về Cửa Hàng</span>
        Trái Cây Sấy Hàng Đầu Việt Nam 
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </footer>
    </div>

    <script src="/PHP_2021_VDK/views/front-end/js/jquery-1.js"></script>
    <script src="/PHP_2021_VDK/views/front-end/js/bootstrap.js"></script>

<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Firefox","requestId":"e965527211194fe7b709479b21c0488d"}
</script>
<script type="text/javascript" src="/PHP_2021_VDK/views/front-end/js/browserLink" async="async"></script>
<!-- End Browser Link -->
</body></html>